* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-xs {
  font-size: 12px;
}

.text-inherit {
    color: inherit;
}

body, #root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-content {
  flex: 1;
}

@import 'bootstrap/scss/bootstrap';
